[submodule "chart"]
	path = chart
	url = https://github.com/gristlabs/custom-charts-widget
	branch = gh-pages
[submodule "jupyterlite"]
	path = jupyterlite
	url = https://github.com/gristlabs/jupyterlite-widget
	branch = gh-pages
[submodule "varamil"]
	path = varamil
	url = https://github.com/Varamil/grist-widget
[submodule "vibe-view"]
	path = vibe-view
	url = https://github.com/gristlabs/vibe-view-widget
  branch = main
