body {
  font-family: Sans-Serif;
  padding: 0;
  margin: 0;
  --label-outline: 0 0 0 1px #aaa;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.label-content {
  white-space: pre-wrap;
  text-align: left;
  font-size: 11pt;
}

.page-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8.5in;
  height: 11in;
}

/*
 * Firefox includes unknown fixed margins; to work around it, we center content in the page, and
 * set it in @media print to 100%, which may be less than the page due to these margins.
 */

.page-labels30 {
  /* these are dimensions without the margins */
  width: 8.125in;
  height: 10in;
}

.label-labels30 {
  width: 2.625in;
  height: 1in;
  margin-right: 0.125in;
  padding: 0.08in;
  border-radius: 0.06in;
  background-color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: bottom;
  break-before: avoid;
  box-shadow: var(--label-outline);
}

.label-labels30:nth-child(3n) {
  margin-right: 0;
}

@media print {
  html, body, #app, .page-outer {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0;
    --label-outline: none;
  }
  @page {
    margin: 0 !important;
  }
}
