html, body {
  height: 100%;
}

body {
  background-color: var(--grist-theme-page-panels-main-panel-bg) !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
}

#calendar-options {
  color: var(--grist-theme-text);
  display: flex;
  gap: 10px 15px;
  flex-wrap: wrap;
  padding: 10px;
  align-items: baseline;
}

/*overriding bootstrap button colors*/
#calendar-options .btn {
  color: var(--grist-theme-text);
  background-color: var(--grist-theme-button-group-bg);
  border-color: var(--grist-theme-button-group-border);
  padding: 4px 10px;
  outline: none;
}

#calendar-options .btn:hover {
  background-color: var(--grist-theme-button-group-bg-hover);
  border-color: var(--grist-theme-button-group-border-hover);
}

#calendar-perspective-buttons .btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#calendar-perspective-buttons .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#calendar-navigation-buttons, #calendar-perspective-buttons {
  display: flex;
}

#calendar-navigation-buttons {
  gap: 10px;
}

#calendar-options input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.toastui-calendar-timegrid {
  height: 100%;
}

.calendar-button:last-of-type {
  border-right: 1px solid #11B683;
  border-radius: 0 5px 5px 0;
}

.calendar-button:first-of-type {
  border-left: 1px solid #11B683;
  border-radius: 5px 0 0 5px;
}

.calendar-button:hover {
  color: #009058;
  border-color: #009058;
}

input:checked + label {
  color: var(--grist-theme-control-primary-fg);
}

.toastui-calendar-day-view .toastui-calendar-panel:not(.toastui-calendar-time), .toastui-calendar-week-view .toastui-calendar-panel:not(.toastui-calendar-time) {
  overflow-y: hidden;
}

#calendar-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

#calendar {
  height: 100%;
  flex-grow: 1;
  overflow: auto;
}

#calendar-options .btn.active {
  color: var(--grist-theme-button-group-selected-fg);
  background-color: var(--grist-theme-button-group-selected-bg);
  border-color: var(--grist-theme-button-group-selected-border);
}

/*Overriding some Toast UI styles that cannot be configured via theme*/
.toastui-calendar-panel.toastui-calendar-time {
  overflow-y: inherit;
}

.toastui-calendar-timegrid-time {
  color: var(--grist-theme-text);
}

.toastui-calendar-template-alldayTitle {
  color: var(--grist-theme-text);
}

.toastui-calendar-template-time,
.toastui-calendar-template-monthDayName{
  color: var(--grist-theme-text);
}

.toastui-calendar-week-view-day-names {
  border-bottom: 1px solid var(--grist-theme-table-body-border);
}

.toastui-calendar-weekday-grid-date-decorator {
  color: var(--grist-theme-add-new-circle-small-fg) !important;
  background-color: var(--grist-theme-add-new-circle-small-bg) !important;
}

.toastui-calendar-day-view-day-names, .toastui-calendar-week-view-day-names {
  border-bottom: 1px solid var(--grist-theme-table-body-border);
}

.toastui-calendar-daygrid-cell+.toastui-calendar-daygrid-cell {
  border-left: 1px solid var(--grist-theme-table-body-border);
}

.toastui-calendar-day-names.toastui-calendar-month{
  padding: 0px;
}
