/* Updated styles for map and controls */

body {
  margin: 0;
  padding: 0;
}

#map {
  width: 100vw; 
  height: 100vh;
  margin: 0;
  padding: 0;
}

#minimap-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: height 0.3s ease; /* Smooth transition for height change */
}

#googleMap {
  width: 100%;
  height: 130%;
  border: none;
  margin-top: -60px; /* Adjust this value to fully hide the top bar */
}

/* Geocoder control styling */
.leaflet-control-geocoder {
  background: white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border-radius: 4px;
  max-width: 300px;
}

.leaflet-control-geocoder input {
  font-size: 14px;
  padding: 8px;
  width: calc(100% - 16px);
  border: none;
  outline: none;
  border-radius: 4px;
}

.leaflet-control-geocoder-expanded {
  width: 300px;
  padding: 5px;
}

/* Marker cluster styling */
.marker-cluster {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.marker-cluster-small {
  width: 40px;
  height: 40px;
}

.marker-cluster-medium {
  width: 50px;
  height: 50px;
}

.marker-cluster-large {
  width: 60px;
  height: 60px;
}

#settings {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none; /* Initially hidden */
  z-index: 1000; /* Ensure it sits above the map */
}

#btnClose {
  cursor: pointer;
  color: red;
}

#btnClose:hover {
  text-decoration: underline;
}

#lblText {
  min-width: 25px;
  display: inline-block;
}

/* JV: Needed to highlight selected cluster */
.marker-cluster-selected {
  border: 3px solid #16b378;
}

/* Image Styling */
.leaflet-popup-content img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Popup Buttons */
.popup-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.popup-button {
  display: inline-block;
  padding: 4px 6px;
  background-color: #DBEFDC;
  color: white;
  text-decoration: none;
  border-radius: 1px;
  font-size: 14px;
  text-align: center;
}

.popup-button:hover {
  background-color: #A5D7A7;
}

/* Popup Header and Text */
.leaflet-popup-content h3 {
  font-size: 25px;
  margin-bottom: 5px;
  color: #333;
}

.marker-cluster-selected {
  border: 3px solid #FFD700; /* Highlight selected cluster with a gold border */
}

.leaflet-popup-content h4 {
  font-size: 14px;
  margin: 5px;
  color: #555;
}

.leaflet-popup-content b {
  font-weight: bold;
}

/* Popup Header and Text */
.leaflet-popup-content h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #333;
}
