.ql-toolbar.ql-snow {
  border-top: none;
  border-left: none;
  border-right: none;
}

.ql-container.ql-snow {
  border: none;
  height: auto;
  flex: 1;
  overflow: auto;
}

html,
body {
  height: 100%;
  font-size: 13px;
  margin: 0;
}

.editor-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  overflow: hidden;
}

.ql-snow .ql-picker.ql-size .ql-picker-label::before {
  content: 'Regular'
}
.ql-snow .ql-picker.ql-size .ql-picker-item::before {
  content: 'Regular'
}

.ql-snow .ql-picker {
  color: var(--grist-theme-body, #262633);
}
.ql-snow .ql-picker-options {
  background-color: var(--grist-theme-bg-default, white);
}
.ql-snow .ql-stroke {
  stroke: var(--grist-theme-body, #262633);
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: var(--grist-theme-body, #262633);
}
.ql-toolbar.ql-snow {
  border-color: var(--grist-theme-decoration, #d9d9d9);
}

@media print {
  html, body {
    height: unset !important;
    width: 100%;
    margin: 0 !important;
    padding: 0;
    overflow: unset;
    background-color: white;
    color: black;
  }
  @page {
    margin: 0 !important;
  }
  .ql-editor {
    overflow: initial !important;
  }
  /* remove the scrollbars */
  .ql-container {
    overflow: unset !important;
  }
  .ql-toolbar {
    display: none;
  }
}
