body {
  font-family: Sans-Serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
  --title-fg-color: #4682B4;
  --highlight-bg-color: #4682B4;
  --highlight-fg-color: white;
}

.meta {
  color: var(--title-fg-color);
}

.header .title {
  font-size: 150%;
  font-weight: bold;
}

.header .meta {
  text-transform: uppercase;
}

.info .meta {
  text-transform: uppercase;
}

.info .meta::after {
  content: " :";
}

.purchaser {
  color: var(--title-fg-color);
  display: block;
}

.block {
  padding-left: 5px;
  display: block;
}

.vendor, .items {
  padding: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: var(--highlight-bg-color);
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}

.vendor .title {
  margin-left: 4px;
  color: white;
  text-transform: uppercase;
}

.vendor .details {
  padding: 4px;
  background-color: var(--grist-theme-page-panels-main-panel-bg, white);
}

table.items {
  width: 100%;
  border: 1px solid var(--highlight-bg-color);
  border-collapse: collapse;
}

table.items th {
  text-align: left;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  padding: 4px;
}

table.items td {
  background-color: var(--grist-theme-page-panels-main-panel-bg, white);
  padding: 4px;
}

.vendor .title, table.items th, .help .title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.money, .number {
  text-align: right;
}

.name {
  font-weight: bold;
}

.address {
  padding-bottom: 1em;
}

.summary {
  margin-left: auto;
}

.summary .title {
  color: var(--title-fg-color);
  padding: 3px 1rem;
}

.summary .details {
  text-align: right;
  padding-left: 1rem;
}

.summary .total .title {
  color: var(--highlight-fg-color);
  background-color: var(--highlight-bg-color);
  padding: 10px 1rem;
}

.summary .total .details {
  font-weight: bold;
}

div.date-tag {
  display: inline-block;
  min-width: 80px;
}

div.top {
  display: flex;
  width: 100%;
  padding: 0px;
  justify-content: space-between;
}

.phone, .email {
  white-space: nowrap;
}

.phone::before {
  content: "\260e";
  margin-right: 0.5em;
}

.email::before {
  content: "\2709";
  margin-right: 0.5em;
}

div.instructions, .newlined, p.note {
  white-space: pre-line;
}

.app {
  position: relative;
}

.done {
  text-decoration: line-through;
}

div.column-name {
  display: inline-block;
}

.column-name {
  background: blue;
  color: white;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  font-style: normal;
}

.column-recognized {
  background: green;
}

.column-expected {
  background: blue;
}

.column-ignored {
  background: red;
}

.help {
  padding: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  background: black;
  color: white;
}

.help .details {
  padding: 4px;
}

.help table {
  border: none;
}

.help td.key {
  text-align: right;
}

.help table {
  padding-bottom: 3px;
}

.help-close {
  display: float;
  float: right;
  max-width: 150px;
  padding: 5px;
  border-left: 1px solid white;
  border-bottom-left-radius: 5px;
  font-size: 80%;
  font-style: italic;
}

.help pre {
  display: inline-block;
  background: #ddd;
  color: #000;
  padding: 0.25em;
  margin-left: 1em;
}

.help .title {
  margin-left: 4px;
  text-transform: uppercase;
}

.status {
  padding: 4px;
}

.status .button {
  display: inline-block;
  text-decoration: none;
  color: #000080;
  background: #ddd;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 0.25em;
}

