<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grist Print Labels</title>

    <!-- A template for showing printing labels in a Custom Widget in Grist. -->
    <!-- Uses Vue.js, store.js, and the Grist Plugin API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>

    <script src="printlabels.js?ver=1"></script>
    <link rel="stylesheet" href="printlabels.css?ver=1">
  </head>
  <body>
    <div id="app">
      <div class="status" v-if="status">
        <template v-if="status === 'waiting'">
          <p>Waiting for data...</p>
        </template>
        <template v-else>
          {{ status }}
        </template>
      </div>
      <div class="header" v-else>
        <select id="labeltype" v-model="template" @change="save()">
          <option v-for="tmpl in templates" :value="tmpl">
          {{ tmpl.name }}
          </option>
        </select>
        <div id="options-btn" v-on:click="showOptions = true">⚙</div>
      </div>
      <div v-show="showOptions" id="options-container" v-on:click="showOptions = false">
        <div id="options-popup" v-on:click.stop>
          <div>Leave initial blanks <input type="number" id="blanks" v-model="blanks" @change="save()"></div>
        </div>
      </div>
      <template v-if="labels">
        <div class="page-outer" v-for="page in arrangeLabels(labels, template, blanks)">
          <div class="labelpage" :class="'page-' + template.id">
            <template v-for="label in page">
              <div class="label" :class="'label-' + template.id">
                <div class="label-content">{{label}}</div>
              </div>
            </template>
          </div>
        </div>
      </template>
    </div>
  </body>
</html>
